In [1]:
#installing bs4 and requests for beautiful soup
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\hp\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests) (3.0.4)

Question 1 - display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’

In [1]:
#importing  necessory libraries
from bs4 import BeautifulSoup
import requests

In [3]:
#sending request to get the page data and souce code from web server for scraping
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')

#getting page content
soup=BeautifulSoup(page.content)

#getting the text data using tags
headers=soup.findAll('span',class_='mw-headline')

display_headers=[ ] # empty list

#using loop for append the headers one by one
for i in headers:
    display_headers.append(i.text)
    
#importing library to make the dataframe
import pandas as pd

#making dataframe
heads= pd.DataFrame({})
heads['headers']= display_headers

#checking dataframe
heads

                         headers
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4       Today's featured picture
5       Other areas of Wikipedia
6    Wikipedia's sister projects
7            Wikipedia languages

Question 2 - IMDB’s Top rated 100 movies’

In [5]:
#sending request to get the page data and souce code from web server for scraping
page = requests.get("https://www.imdb.com/list/ls091520106/")

#getting page content
soup=BeautifulSoup(page.content)

#empty lists
movie_name = []
year = []
rating = []

#getting the names of the movies using its source code
movie_data=soup.findAll("h3", class_="lister-item-header")
for i in movie_data:
    for j in i.find_all("a"):
        movie_name.append(j.text)
        
#getting the year of release of the movies using its source code
years = soup.find_all("span",class_="lister-item-year text-muted unbold")
for i in years:
    y=i.text.replace('(','')
    year.append(y.replace(')',''))
    
#getting the IMDB rating of the movies using its source code
rate = soup.find_all("div",class_="ipl-rating-star small")
for i in rate:
      rating.append(float(i.text))
        
#making data frame for movies data
import pandas as pd
movies=pd.DataFrame({})
movies['movies name']=movie_name
movies['year of release']=year
movies['IMDB rating']=rating
movies

                            movies name year of release  IMDB rating
0              The Shawshank Redemption            1994          9.3
1                         The Godfather            1972          9.2
2                The Godfather: Part II            1974          9.0
3                       The Dark Knight            2008          9.0
4                          12 Angry Men            1957          9.0
..                                  ...             ...          ...
95                   North by Northwest            1959          8.3
96                   A Clockwork Orange            1971          8.3
97                               Snatch            2000          8.3
98  Le fabuleux destin d'Amélie Poulain            2001          8.3
99                              The Kid            1921          8.3

[100 rows x 3 columns]

Question-3 IMDB’s Top rated 100 Indian movies

In [6]:
#sending request to get the page data and souce code from web server for scraping
page = requests.get("https://www.imdb.com/list/ls009997493/")

#getting page content
soup=BeautifulSoup(page.content)

#empty lists
movie_names = []
year_of_release = []
imdb_rating = []

#getting the names of the movies using its source code
movies=soup.find_all('h3',class_="lister-item-header")
for i in movies:
    movie_names.append(i.a.text.replace('\n',''))
        
#getting the year of release of the movies using its source code
year=soup.find_all('span',class_='lister-item-year text-muted unbold')
for i in year:
    year_of_release.append(i.text)
    
#getting the IMDB rating of the movies using its source code
rating=soup.find_all('div',class_='ipl-rating-star small')
for i in rating:
    imdb_rating.append(i.text.replace('\n',''))
        
#making data frame for movies data
movies=pd.DataFrame({})
movies['movies name']=movie_names
movies['year of release']=year_of_release
movies['IMDB rating']=imdb_rating
movies

               movies name year of release IMDB rating
0          Rang De Basanti          (2006)         8.1
1                 3 Idiots          (2009)         8.4
2         Taare Zameen Par          (2007)         8.4
3           Dil Chahta Hai          (2001)         8.1
4   Swades: We, the People          (2004)         8.2
..                     ...             ...         ...
95             Wake Up Sid          (2009)         7.6
96                Rangeela          (1995)         7.5
97     Shatranj Ke Khilari          (1977)         7.7
98      Pyaar Ka Punchnama          (2011)         7.6
99           Ek Hasina Thi          (2004)         7.5

[100 rows x 3 columns]

* Question 4 - scrap book name, author name, genre and book review of 
any 5 books from ‘www.bookpage.com’

In [7]:
#sending request to get the page data and souce code from web server for scraping
page = requests.get("https://bookpage.com/reviews")

#getting page content
soup=BeautifulSoup(page.content)

#empty lists
book_names = []
author_name = []
genre_of_book = []
review_of_book = []

#getting the names of the books using its source code
books=soup.find_all('h4',class_='italic')
for i in books:
    book_names.append(i.a.text)
        
#getting the author name of the book using its source code
authors=soup.find_all('p',class_='sans bold')
for i in authors:
    author_name.append(i.text.replace('\n',''))
    
#getting the genere of the book using its source code
genres=soup.find_all('p',class_='genre-links hidden-phone')
for i in genres:
    genre_of_book.append(i.text.replace('\n',''))

#getting the review of the book using its source code
reviews=soup.find_all('p',class_='excerpt')
for i in reviews:
    review_of_book.append(i.text.replace('\n',''))

#making and show dataframe
books= pd.DataFrame({})
books['names']= book_names[:5]
books['author']= author_name[:5]
books['genre']= genre_of_book[:5]
books['review']= review_of_book[:5]
books

,Book Name,Author,Genre,Review
0,Facing the Mountain,Daniel James Brown,Nonfiction / History / American History,Imagine that you and your family have been tak...
1,Lucky Girl,Jamie Pacton,YA Fiction / YA,Seventeen-year-old Jane Belleweather has just ...
2,On Juneteenth,Annette Gordon-Reed,Nonfiction / History / American History,Annette Gordon-Reed opens On Juneteenth by ref...
3,Pawcasso,Remy Lai,Children's / Middle Grade,Pawcasso is a joyful graphic novel from acclai...
4,The Most Beautiful Girl in Cuba,Chanel Cleeton,Fiction / Historical Fiction,"Through her popular historical novels, bestsel..."

Question 5 -  scrape cricket rankings from ‘www.icc-cricket.com’

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and 
rating.

In [8]:
#sending request to get the page data and souce code from web server for scraping
page = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

#getting page content
soup=BeautifulSoup(page.content)

#getting the names of the odi teams using its source code
teams=soup.find_all('span',class_='u-hide-phablet')
odi_teams=[ ]
for i in teams:
    odi_teams.append(i.text.replace('\n',''))
        
#getting the number of matches using its source code
match1=soup.find_all('td',class_='rankings-block__banner--matches')
no_of_matches=[ ]
for i in match1:
    no_of_matches.append(i.text)
        
#getting the new list of match data using its source code
match=soup.find_all('td',class_='table-body__cell u-center-text')
new_list=[ ]
for i in match:
    new_list.append(i.text)

#seprating the columns to get the point
no_of_match=[]
points=[]
for i in range(0,len(new_list),2):
    no_of_match.append(new_list[i])
    points.append(new_list[i+1])
    
#getting the ranking of the odi team using its source code
ranking=soup.find_all('td',class_='table-body__cell u-text-right rating')
odi_ranking=[ ]
for i in ranking:
    odi_ranking.append(i.text.replace('\n',''))

#making dataframe using pandas
import pandas as pd
teams= pd.DataFrame({})
teams['team']= odi_teams[:10]
teams['matches']= no_of_match[:10]
teams['points']= points[:10]
teams['ranking'] = odi_ranking[:10]
teams

           team matches points ranking
0   New Zealand      32  3,793     119
1       England      28  3,244     116
2     Australia      32  3,624     113
3         India      25  2,459      98
4  South Africa      27  2,524      93
5      Pakistan      30  2,740      91
6    Bangladesh      30  2,523      84
7   West Indies      32  2,657      83
8     Sri Lanka      17  1,054      62
9   Afghanistan       7    336      48

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [9]:
#sending request to get the page data and souce code from web server for scraping
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

#getting page content
soup=BeautifulSoup(page.content)

#making empty lists
players=[]
team_name=[]
rating=[]

#get the data of ranking of the team in odi using their tags
for i in soup.find_all("div",class_='rankings-block__banner--name-large'): 
    players.append(i.text)

#get the data of ranking of the team in odi using their tags
for i in soup.find_all("div",class_='rankings-block__banner--nationality'):
    team_name.append(i.text.replace("\n",""))

#getting the data from the web page by theire source code
for i in soup.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)

#getting the data from the web page by theire source code
for i in soup.find_all("span",class_='table-body__logo-text'): 
    team_name.append(i.text)

#getting the rating of player from the web page by theire source code    
for i in soup.find_all("div",class_='rankings-block__banner--rating'): 
    rating.append(i.text)

#getting the rating of player from the web page by theire source code 
for i in soup.find_all("td",class_='table-body__cell rating'): 
    rating.append(i.text)
    
#making dataframe using pandas
Batsmen=pd.DataFrame({})
Batsmen['Player']=players[:10]
Batsmen['Team']=team_name[:10]
Batsmen['Rating']=rating[:10]
Batsmen

            Player                     Team Rating
0       Babar Azam  PAK                        873
1      Virat Kohli                      IND    844
2     Rohit Sharma                      IND    813
3      Ross Taylor                       NZ    801
4      Aaron Finch                      AUS    779
5   Jonny Bairstow                      ENG    775
6     David Warner                      AUS    762
7        Shai Hope                       WI    758
8  Kane Williamson                       NZ    754
9  Quinton de Kock                       SA    747

iii) Top 10 ODI bowlers along with the records of their team and rating

In [10]:
#sending request to get the page data and souce code from web server for scraping
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

#getting page content
soup=BeautifulSoup(page.content)

#get the name of the player of the team in odi using their tags
players=[]
for i in soup.find_all("div",class_='rankings-block__banner--name-large'):
    players.append(i.text)
    
#making list of name of the player of the team in odi using their tags
for i in soup.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)

#getting the name of the team from the web page by theire source code
team_name=[]
for i in soup.find_all("div",class_='rankings-block__banner--nationality'):
    team_name.append(i.text.replace("\n",""))

#making list of the name of the team from the web page by theire source code
for i in soup.find_all("span",class_='table-body__logo-text'): 
    team_name.append(i.text)
    
#getting the rating of player from the web page by theire source code    
rating=[]
for i in soup.find_all("div",class_='rankings-block__banner--rating'):
    rating.append(i.text)

#making list of rating of player from the web page by theire source code 
for i in soup.find_all("td",class_='table-body__cell rating'):
    rating.append(i.text)
    
#making dataframe using pandas
bowlers=pd.DataFrame({})
bowlers['Player']=players[:10]
bowlers['Team']=team_name[:10]
bowlers['Rating']=rating[:10]
bowlers

             Player                    Team Rating
0       Trent Boult  NZ                        737
1    Josh Hazlewood                     AUS    709
2  Mujeeb Ur Rahman                     AFG    708
3      Chris Woakes                     ENG    700
4      Mehedi Hasan                     BAN    692
5        Matt Henry                      NZ    691
6    Jasprit Bumrah                     IND    679
7    Mitchell Starc                     AUS    652
8   Shakib Al Hasan                     BAN    650
9     Kagiso Rabada                      SA    646

Question 6 - Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’

i) Top 10 ODI teams in women’s cricket along with the records for matches, points 
and rating.

In [11]:
#sending request to get the page data and souce code from web server for scraping
page = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

#getting page content
soup=BeautifulSoup(page.content)

#getting the name of the team in odi using their tags
odi_teams=[ ]
teams=soup.find_all('span',class_='u-hide-phablet')

#splitting the team names
for i in teams:
    odi_teams.append(i.text.replace('\n',''))
    
#making list of matches of the team in odi using their tags
no_of_matches=[ ]
match1=soup.find_all('td',class_='rankings-block__banner--matches')
match=soup.find_all('td',class_='table-body__cell u-center-text')

#splitting the match name
new_list=[ ]
for i in match:
    new_list.append(i.text)

#getting the ranking of the tean from the web page by theire source code
odi_ranking=[ ]
ranking=soup.find_all('td',class_='table-body__cell u-text-right rating')
ranking

#splitting the ranking of team
for i in ranking:
    odi_ranking.append(i.text.replace('\n',''))

#making dataframe using pandas
teams= pd.DataFrame({})
teams['team']= odi_teams[:9]
teams['matches']= no_of_match[:9]
teams['points']= points[:9]
teams['ranking'] = odi_ranking[:9]
teams

           team matches points ranking
0     Australia      32  3,793     119
1       England      28  3,244     117
2  South Africa      32  3,624     113
3         India      25  2,459      92
4   New Zealand      27  2,524      85
5   West Indies      30  2,740      75
6      Pakistan      30  2,523      61
7    Bangladesh      32  2,657      47
8     Sri Lanka      17  1,054      13

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [12]:
#sending request to get the page data and souce code from web server for scraping
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

#getting page content
soup=BeautifulSoup(page.content)

#get the data of ranking of the team in odi using their tags
for i in soup.find_all("div",class_='rankings-block__banner--name-large'):
    players.append(i.text)
    
#get the data of ranking of the team in odi using their tags
players=[]
for i in soup.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)

#getting the data from the web page by theire source code
for i in soup.find_all("div",class_='rankings-block__banner--nationality'):
    team_name.append(i.text.replace("\n",""))

#getting the data from the web page by theire source code
team_name=[]
for i in soup.find_all("span",class_='table-body__logo-text'):
    team_name.append(i.text)

#getting the rating of player from the web page by theire source code    
for i in soup.find_all("div",class_='rankings-block__banner--rating'):
    rating.append(i.text)

#getting the rating of player from the web page by theire source code 
rating=[]
for i in soup.find_all("td",class_='table-body__cell rating'):
    rating.append(i.text)
    
#making dataframe using pandas
top_players=pd.DataFrame({})
top_players['Player']=players[:10]
top_players['Team']=team_name[:10]
top_players['Rating']=rating[:10]
top_players

              Player Team Rating
0       Alyssa Healy  AUS    750
1        Mithali Raj  IND    738
2     Tammy Beaumont  ENG    728
3  Amy Satterthwaite   NZ    717
4    Smriti Mandhana  IND    710
5        Meg Lanning  AUS    699
6        Beth Mooney  AUS    690
7     Heather Knight  ENG    674
8    Laura Wolvaardt   SA    672
9     Rachael Haynes  AUS    668

iii)Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [13]:
#sending request to get the page data and souce code from web server for scraping
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')

#getting page content
soup=BeautifulSoup(page.content)

#get the name of the player of the team in odi using their tags
players=[]
for i in soup.find_all("div",class_='rankings-block__banner--name-large'):
    players.append(i.text)
    
#making list of name of the player of the team in odi using their tags
for i in soup.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)

#getting the name of the team from the web page by theire source code
team_name=[]
for i in soup.find_all("div",class_='rankings-block__banner--nationality'):
    team_name.append(i.text.replace("\n",""))

#making list of the name of the team from the web page by theire source code
for i in soup.find_all("span",class_='table-body__logo-text'): 
    team_name.append(i.text)
    
#getting the rating of player from the web page by theire source code    
rating=[]
for i in soup.find_all("div",class_='rankings-block__banner--rating'):
    rating.append(i.text)

#making list of rating of player from the web page by theire source code 
for i in soup.find_all("td",class_='table-body__cell rating'):
    rating.append(i.text)
    
#making dataframe using pandas
bowlers=pd.DataFrame({})
bowlers['Player']=players[:10]
bowlers['Team']=team_name[:10]
bowlers['Rating']=rating[:10]
bowlers

              Player                     Team Rating
0      Jess Jonassen  AUS                        760
1     Jhulan Goswami                      IND    727
2       Megan Schutt                      AUS    717
3     Marizanne Kapp                       SA    715
4  Sophie Ecclestone                      ENG    701
5     Shabnim Ismail                       SA    688
6    Katherine Brunt                      ENG    666
7     Ayabonga Khaka                       SA    643
8     Anya Shrubsole                      ENG    598
9         Kate Cross                      ENG    589

Question 7 - scrape details of all the mobile phones under Rs. 20,000 
listed on Amazon.in. The scraped data should include Product Name, Price, Image URL 
and Average Rating

In [14]:
#sending request to get the page data and souce code from web server for scraping
page = requests.get("https://www.amazon.in/s?k=Mobile+phones+under+20000&ref=nb_sb_noss_2")

#getting page content
soup=BeautifulSoup(page.content)

#making empty list
phone_names = [] 
phone_price = []   
phone_rating = []  
phone_image = []  

#getting the names of the mobile phones
for i in soup.find_all("span",class_="a-size-medium a-color-base a-text-normal"):
    product_name.append(i.text)

#getting the prices of the mobiles from their source code
for i in soup.find_all("span",class_="a-price-whole"):
    price.append(i.text)
    
#getting the rating of the mobiles
for i in soup.find_all("span",class_="a-icon-alt"):
    rating.append(i.text)

#getting the image urls of the mobile
for i in soup.find_all("img",class_="s-image"):
    img_url.append(i.get("src"))
    
#making the dataframe
phone= pd.DataFrame({})
phone['name']= phone_names
phone['price']= phone_price
phone['rating']= phone_rating
phone['image_url']= phone_image

phone

ConnectionError: HTTPSConnectionPool(host='www.amazon.in', port=443): Max retries exceeded with url: /s?k=Mobile+phones+under+20000&ref=nb_sb_noss_2 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000002063599BB80>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

Question 8 - local weather from the National 
Weather Service website of USA, https://www.weather.gov/ for the city, San 
Francisco. You need to extract data about 7 day extended forecast display for the city. 
The data should include period, short description, temperature and description.

In [15]:
#sending request to get the page data and souce code from web server for scraping
page = requests.get("https://forecast.weather.gov/MapClick.php?textField1=37.78&textField2=-122.42#.YJJVsLUzZPY")

#getting page content
soup=BeautifulSoup(page.content)

#geting the time period og the whether
period=soup.findAll('div',class_='col-sm-2 forecast-label')
time_period=[ ]
for i in period:
    time_period.append(i.text)

#getting short discription about the whether
short_desc=soup.findAll('div',class_='col-sm-10 forecast-text')
short_description=[]
for i in short_desc:
    short_description.append(i.text.split(',')[0])

# Scrape temperature
temperature=[]
for i in soup.find_all('p',attrs={'short-desc'}):
        if i.next_sibling is not None:
            temperature.append(i.next_sibling.text)
        else:
            temperature.append(' ')
            
#getting full description of whether
description=soup.find_all('div',class_='col-sm-10 forecast-text')
sf_description=[]
for i in description:
    sf_description.append(i.text)

#making dataframe with scraped data 
weather= pd.DataFrame({})
weather['period']= time_period[:9]
weather['temperature']= temperature[:9]
weather['short_desc']= short_description[:9]
weather['description']= sf_description[:9]

weather

,period,temperature,short_desc,description
0,Today,High: 66 °F,Partly sunny,"Partly sunny, then gradually becoming sunny, w..."
1,Tonight,Low: 50 °F,Partly cloudy,"Partly cloudy, with a low around 50. Light and..."
2,Wednesday,High: 66 °F,Mostly sunny,"Mostly sunny, with a high near 66. East wind a..."
3,Wednesday Night,Low: 51 °F,Mostly cloudy,"Mostly cloudy, with a low around 51. West wind..."
4,Thursday,High: 63 °F,Partly sunny,"Partly sunny, with a high near 63. Light and v..."
5,Thursday Night,Low: 52 °F,A 30 percent chance of rain,"A 30 percent chance of rain, mainly before 4am..."
6,Friday,High: 63 °F,A 20 percent chance of rain before 10am. Most...,A 20 percent chance of rain before 10am. Most...
7,Friday Night,Low: 52 °F,Mostly cloudy,"Mostly cloudy, with a low around 52."
8,Saturday,High: 64 °F,Mostly sunny,"Mostly sunny, with a high near 64."

Question 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, 
company name, CTC, and apply date

In [16]:
#sending request to get the page data and souce code from web server for scraping
page = requests.get("https://internshala.com/fresher-jobs")

#getting page content
soup=BeautifulSoup(page.content)

#geting the titles of the job from the source code
titles=soup.find_all('div',class_="heading_4_5 profile")
job_titles=[ ]
for i in titles:
    job_titles.append(i.text.replace('\n',''))
    
#geting the namw of the companies from the source code
companies=soup.find_all('a',class_='link_display_like_text')
company_names=[ ]
for i in companies:
    company_names.append(i.text.strip())

#geting the info of the jobs from the source code
info=soup.find_all('div',class_="item_body")
job_info = []
for i in info:
    job_info.append(i.text.replace("\n","").replace('Immediately',''))
            
#geting the apply date of the jobs from the source code till when you can apply
apply_date = []
for i in range(2,len(job_info),3):
    apply_date.append(job_info[i].strip())

#getting the ctc details of the job from source code
CTC = []
for i in range(1,len(job_info),3):
    CTC.append(job_info[i].strip())

#making dataframe from scraped data
jobs= pd.DataFrame({})
jobs['title']= job_titles
jobs['company']= company_names
jobs['ctc']= CTC
jobs['Apply_Date'] = apply_date
jobs

,title,company,ctc,Apply_Date
0,Business Development Executive,Decathlon Sports India,3 - 4 LPA,29 Nov' 21
1,Customer Relationship Executive - Affordable H...,NSE Academy,3.5 - 4.5 LPA,18 Nov' 21
2,Capital Market - Dealer & Senior Dealer,NSE Academy,3.5 - 4.5 LPA,18 Nov' 21
3,Capital Market - Dealer & Senior Dealer,NSE Academy,3.5 - 4.5 LPA,18 Nov' 21
4,Associate Graphic Designer,Frizzon Productions,3 - 4 LPA,16 Dec' 21
5,Full Stack Developer,Arishti CyberTech Private Limited,3.4 - 5 LPA,16 Dec' 21
6,Data Entry Specialist,BluCognition Private Limited,3 - 4 LPA,16 Dec' 21
7,TECHNICAL CONTENT WRITER,Aditya Farrad Production,3 - 3.5 LPA,16 Dec' 21
8,Engineer - Trainee,RMgX,4.5 - 4.8 LPA,16 Dec' 21
9,Sales Associate,Yellow Oak Realty,3 - 3.25 LPA,16 Dec' 21
10,Operations Executive,MentorBoxx,4 - 7 LPA,16 Dec' 21
11,Business Development Executive,Kazam EV Tech,3 - 5 LPA,16 Dec' 21
12,Node.js Developer,Infoware,3.5 - 5 LPA,16 Dec' 21
13,Growth Marketer,Unbound,4 - 6 LPA,16 Dec' 21
14,Manager (Marketing & Operations),Kalaghar,3 LPA,16 Dec' 21
15,Technical Editor,Aditya Farrad Production,3 - 3.5 LPA,16 Dec' 21
16,Junior Full Stack Developer,Alice Camera Private Limited,5 - 7 LPA,16 Dec' 21
17,Associate Manager (Partnerships & Fundraising),Cocogreen Foods LLP,3.6 - 4.8 LPA,16 Dec' 21
18,Customer Service Executive,WhataPortrait.com,3 LPA,16 Dec' 21
19,Junior Backend Developer,Nodeberry Private Limited,4.5 - 7 LPA,16 Dec' 21
20,Software Engineer- I,AssetPlus,7 - 8 LPA,16 Dec' 21
21,Personal Assistant,Zotezo Com Enterprise Private Limited,3 LPA,16 Dec' 21
22,Video Editor,Dreamfoot,3 - 4 LPA,16 Dec' 21
23,Web Developer (MERN/MEAN/Full Stack),ISkylar Technologies,3.5 - 4.5 LPA,16 Dec' 21
24,Recruitment Consultant,CareersAhead,3 LPA,16 Dec' 21
25,Business Development Executive,InfyBytes AI Labs Private Limited,3 - 4 LPA,16 Dec' 21
26,Counselor,UFaber Edutech,3 - 3.6 LPA,16 Dec' 21
27,Backend Developer,Homejam,6 - 8 LPA,16 Dec' 21
28,Customer Service Manager,Nutty Yogi,3 LPA,16 Dec' 21
29,Social Media Strategist And Copywriter,Internshala Trainings,5 - 6.8 LPA,16 Dec' 21
30,Node.js Developer,Konverse AI,4 - 6 LPA,16 Dec' 21
31,Full Stack Developer (MERN),Cliffex Software Solutions,3 - 5 LPA,16 Dec' 21
32,Business Development Associate,Civilsdaily,3 - 4 LPA,16 Dec' 21
33,Content Editor & Proofreader,CBD Marketing Solutions,3 - 3.2 LPA,16 Dec' 21
34,Auto Loan Advisor & Sales Consultant,CarJasoos,3 - 4 LPA,16 Dec' 21
35,Junior Software Developer,Saral Technologies,4 - 5 LPA,15 Dec' 21
36,Python Developer,Ignis Tech Solutions,3 - 5 LPA,15 Dec' 21
37,Business Development Executive,Possiblers,3 - 3.5 LPA,15 Dec' 21
38,Full Stack Developer,Necesario Innovations Private Limited,3.2 - 4.8 LPA,15 Dec' 21
39,Crypto Tech Recruiter,Wono Inc,5.3 - 6.1 LPA,15 Dec' 21

Question10- Write a python program to scrape house details from mentioned url.
url = "https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0"
It should include house title, location, area, emi and price.

In [17]:
#sending request to get the page data and souce code from web server for scraping
page = requests.get("https://www.nobroker.in/property/sale/bangalore/Electronic%20City?searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&radius=2.0&type=BHK4")

#getting page content
soup=BeautifulSoup(page.content)

#geting the titles of the flat from the source code
flats=soup.findAll('h2',class_='heading-6 font-semi-bold nb__1AShY')
flat_title=[ ]
for i in flats:
    flat_title.append(i.text)
    
#geting the location of the flat from the source code
locations=soup.find_all('div',class_='nb__2CMjv')
flat_location=[ ]
for i in locations:
    flat_location.append(i.text)

#geting the info of the area of flat from the source code
area=soup.find_all('div',class_='nb__3oNyC')
flat_area=[ ]
for i in area:
    flat_area.append(i.text)
            
#geting the combine list data of the flat from the source code 
data=soup.find_all('div',class_='font-semi-bold heading-6')
flat_data = []
for i in data:
    flat_data.append(i.text.replace("\n","").replace('Immediately',''))

#getting the emi details of the flat from source code
emi = []
for i in range(2,len(flat_data),3):
    emi.append(flat_data[i].strip())
    
#getting the price details of the flat
price = []
for i in range(1,len(flat_data),3):
    price.append(flat_data[i].strip())

#making dataframe from scraped data
flat= pd.DataFrame({})
flat['title']= flat_title
flat['location']= flat_location
flat['area']= flat_area
flat['emi'] = emi
flat['price'] = price

flat

ConnectionError: HTTPSConnectionPool(host='www.nobroker.in', port=443): Max retries exceeded with url: /property/sale/bangalore/Electronic%20City?searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&radius=2.0&type=BHK4 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x00000206362ADF70>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

above link is expired