Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as Ec
from selenium.webdriver.common.by import By

In [33]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")

In [5]:
#giving url to webdriver
url='https://www.naukri.com/'
driver.get(url)

In [6]:
#searching xpath on webpage
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job

In [7]:
#giving input in search bar
search_job.send_keys("business analyst")

In [8]:
#searching xpath on webpage
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc

In [9]:
#giving input in search bar
search_loc.send_keys("banglore")

In [10]:
#searching data and pressing button
search_button=driver.find_element_by_xpath('//button[@class="btn"]')
search_button.click()

In [11]:
#find jobs
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title

[<selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="ad599c6b-a617-468b-84d8-88dddc521705")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="490c40ab-d8f7-49c7-8b4b-00f7577e5444")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="40a0759c-4959-49c7-9fa6-5169e1f5f8d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="08408a84-4ff9-4838-bcb8-bdf760effab9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="b5c4c8aa-f828-42d5-8561-4c3986890229")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="6fe497fa-0798-42c0-8d93-1f4f594066c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="46b7d265-9d0f-477a-b9f0-6486fdb9b055")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="7487ad34-6229-45f4-a229-59d55ef3c1ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="545aa80a-0916-4e76-8504-91e9e584ea83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="2d60c593-5600-4b7c-ab74-5b758390d881")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="50c6c74f-b7d0-42ec-8cd4-98905d2668ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="fab6aefc-ee59-4312-b795-c2ec437273c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="8b4ca84a-8cd4-4ed7-b789-1a7d7b883687")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="921fccfd-abde-4f25-955a-dde4e61448b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="08112442-7609-4d4c-a248-6cf2ea6f69dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="69bd37ca-c96d-4868-8f42-ba7fdc3dc510")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="4b8e7ad6-22ad-466e-b1ea-720288e75be3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="d9e73106-5e02-42c4-af1c-8bacb088b6bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="8a375436-d4cd-4c04-872e-01197e255ee9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="f7a6ddbb-c0ca-4e47-908a-6d40be66c844")>]

In [12]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)
job_titles

['Tech Mahindra Hiring For Business Analyst (KYC)- Bangalore',
 'Senior IT Business Analyst/ Requirements Engineer in IT',
 'Business Analyst',
 'Business Analyst',
 'Regional Applications Business Analyst',
 'Business Analyst: ADM',
 'Business Analyst: ADM',
 'Business Analyst - Operations',
 'Business Analyst - Operations',
 'Business Analyst - Risk Domain (VaR, Expected Shortfall, Tracking Erro',
 'Market Data Business Analyst,',
 'Business Analyst/ Sr Business Analyst/ Solution Architect',
 'Business Analyst',
 'Corporate Actions Business Analyst,',
 'Maveric Systems_Full-time Job Opportunity_Temenos T24 Business Analyst',
 'Business Analyst',
 'Urgent Junior Business Analyst / Business Analyst / Senior Business An',
 'Business Analyst with Salesforce',
 'Senior Business Analyst',
 'Senior Business Analyst - ( US Healthcare) - Permanent Opportunity']

In [13]:
#find company name
com_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
com_name

[<selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="faf3f877-1cc3-4fa7-ab09-e7bf08c1b6fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="f21df352-1624-4d27-903d-d78393728512")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="3d56ee86-594a-480a-adb7-c9e134d3af4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="2b3fee4c-3dcd-492a-88cf-7255bc5b7172")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="bc0d00aa-404a-4b27-b28b-bf677ddc9f00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="8d91a53a-0847-4d87-b60b-7b79607a4d45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="8ce95566-4e6b-4cda-88f9-31afdb1891fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="1b1af019-6d8b-465b-9ac5-dd88eabd1dfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="f4a2c936-482c-4b2d-b23e-c593eca96a3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="da8cd7b1-9aec-4a0c-8586-8b7daf1d9a13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="f2542205-fe06-4f0f-aa31-60acea27f28d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="b2ae0002-aa02-4c11-b353-c407696de001")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="b42f4f3c-5802-49e2-8167-14a3e755962d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="167bc44a-4339-4f0c-910b-790399ffea82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="d2cd80c1-f812-4475-a349-8ac1692d0d79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="7e501adb-d7da-4e76-9e86-6c9ab09e676f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="f9d5d200-5d4d-47d6-af57-cc6d651dc46e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="1cdfe0dc-b9bf-4f79-a08b-16d6f04bfdf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="32c70709-7282-4521-b4e7-8578ab409732")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="1d00092a-4a20-432e-b2b5-15d70abaf6dc")>]

In [14]:
company_names=[]
for i in com_name:
    company_names.append(i.text)
company_names

['tech mahindra ltd',
 'Innoveo',
 'Infosys Limited',
 'Flipkart Internet Private Limited',
 'AECOM India Private Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Oracle India Pvt. Ltd.',
 'Luxoft',
 'NetCracker Technology Solutions (India) Pvt Ltd',
 'Altisource Business Solutions Pvt Ltd',
 'Luxoft',
 'Maveric Systems Limited',
 'Exxon Mobil Corporation',
 'Rapid Value IT Services Pvt Ltd',
 'CONDUENT BUSINESS SERVICES INDIA LLP',
 'Rupeek Fintech Pvt Ltd',
 'Nalashaa Solutions India Pvt Ltd']

In [15]:
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
job_location

[<selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="9f5221e1-356f-41ec-a58b-2999e4102920")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="5ad6e085-a7a7-4da6-a3c3-63547261d988")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="90d4571c-1743-419e-a130-b3b37d020129")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="937a1eaf-d944-4913-be43-35dfd0aa799b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="c421aea1-643b-4f42-9486-40cac2a41d1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="86841bd7-ffb1-4907-87a0-dfef21f4a9c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="7db6f2de-2351-44b8-bebd-66cd99073391")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="c92a56b4-3cbd-4edc-94aa-9e2b8f76896a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="124c9626-9367-4590-8f34-20ea747ceba5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="7355153d-cdc9-4d4b-9850-6a120e62c749")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="122ad184-c2ba-4be3-a434-214ed33a8579")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="1e93caf7-aba4-4274-95a6-262bd98f14c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="0d83a1a2-1c7b-4c47-ae78-cb444fccc5e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="93775019-1904-49dd-aa52-018c0a167994")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="765b4a02-d270-42b8-b0fe-2c8728b78bb7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="87eaaec7-6484-43a3-978d-7fb060eb53ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="1844399a-f51d-48ee-9228-51238c533387")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="a65a7e46-484b-45c6-88d8-ed603b182b22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="de483f5f-8bc1-4aa8-a073-25182f2cab16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="942d80f79aa6d1b78cf6d00b3ccb7477", element="2dfccb2e-48d3-4a4d-b298-4b15458150dd")>]

In [16]:
job_locations=[]
for i in job_location:
    job_locations.append(i.text)
job_locations

['Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru']

In [17]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

In [18]:
experience_req=[]
for i in experience:
    experience_req.append(i.text)

In [19]:
import pandas as pd

jobs=pd.DataFrame({})
jobs['title']= job_titles[:10]
jobs['company']= company_names[:10]
jobs['location']= job_locations[:10]
jobs['experience']= experience_req[:10]

jobs

,title,company,location,experience
0,Tech Mahindra Hiring For Business Analyst (KYC...,tech mahindra ltd,Bangalore/Bengaluru,5-8 Yrs
1,Senior IT Business Analyst/ Requirements Engin...,Innoveo,"Chennai, Bangalore/Bengaluru",6-10 Yrs
2,Business Analyst,Infosys Limited,Bangalore/Bengaluru,5-10 Yrs
3,Business Analyst,Flipkart Internet Private Limited,Bangalore/Bengaluru,1-6 Yrs
4,Regional Applications Business Analyst,AECOM India Private Limited,Bangalore/Bengaluru,5-10 Yrs
5,Business Analyst: ADM,IBM India Pvt. Limited,Bangalore/Bengaluru,6-10 Yrs
6,Business Analyst: ADM,IBM India Pvt. Limited,Bangalore/Bengaluru,10-15 Yrs
7,Business Analyst - Operations,IBM India Pvt. Limited,Bangalore/Bengaluru,6-10 Yrs
8,Business Analyst - Operations,IBM India Pvt. Limited,Bangalore/Bengaluru,1-4 Yrs
9,"Business Analyst - Risk Domain (VaR, Expected ...",Oracle India Pvt. Ltd.,Bangalore/Bengaluru,3-5 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [20]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")

In [21]:
#giving url to webdriver
url='https://www.naukri.com/'
driver.get(url)

In [22]:
#searching xpath on webpage
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')

In [23]:
#giving input in search bar
search_job.send_keys("data scientist")

In [24]:
#searching xpath on webpage
search_loc=driver.find_element_by_id("qsb-location-sugg")

In [25]:
#giving input in search bar
search_loc.send_keys("banglore")

In [26]:
#searching data and pressing button
search_button=driver.find_element_by_xpath('//button[@class="btn"]')
search_button.click()

In [27]:
#find jobs
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [28]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)

In [29]:
#find company name
com_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [30]:
company_names=[]
for i in com_name:
    company_names.append(i.text)

In [31]:
#fetching job location
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [32]:
job_locations=[]
for i in job_location:
    job_locations.append(i.text)

In [33]:
url =driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [34]:
job_url=[]
for i in url:
    job_url.append(i.get_attribute('href'))

In [35]:
job_description=[]
for i in job_url:
    driver.get(i)
    try:
        job_desc = driver.find_element_by_xpath("//div[@class='dang-inner-html']")
        job_description.append(job_desc.text)
    except:
        job_description.append('-')
job_description

['Evaluating business requirements and developing compelling user stories in collaboration with business stakeholders across various functions and regions\nCollecting, interpreting, preparing and modelling data to provide actionable insights\nPrototyping advanced data analytics solutions for presentation to business partners and stakeholders\nApplying predictive analytics and machine learning methods and techniques appropriately to address business requirements\nProvide expertise to guide business stakeholders in identifying opportunities for the use of BD s data assets for the purpose of advanced data analytics\nWork closely with data engineering and DataOps peers to productionalize advanced data analytics use cases\nQualifications\nMaster s degree in STEM field or equivalent demonstrated work experience\nExperience with Python, R, Hadoop, HIVE, SPARK, Jupyter and related advanced analytics / machine learning libraries (Scikitlearn, Tensorflow, Keras, )\nMinimum 2 years of relevant work experience\nAbility to translate complex solutions to a non-technical audience (storytelling visualization)\nExpertise in machine learning, neural networks, clustering, classification, regression and other common advanced analytics methods and techniques\nMature competency for critical thinking, problem solving, working with ambiguity, communications and collaboration\nPreferred\nExperience with technologies related to data preparation, processing optimization (e.g. Azure, HQL, SPARK SQL)\nExperience with data visualization tools (Power BI)\nFlexibility to accommodate meetings with international stakeholders in their respective time-zone',
 "Job description\n\nJob Role: Data Scientist/Data Analyst /Business Analyst\n\nLocation: Chennai/Bangalore/Hyderabad\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in the year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization, and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning, and AI in Tier 1 and Tier 2 organizations working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to upskill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7 Pm\n\nKoodesh B- +91 73395 11107\nManigandan B - +91 93444 57360\n\nEmail :\n\ncareerguidance.koodes@centerforaia.com\nmanigandan@centerforaia.com\n\nWhat is needed from you?\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nEducational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics, and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\nSelection procedure includes\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\nCandidates who clear the above will have one-one discussions with our Career Guidance Manager for further evaluation and processing of your Resume.\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms, and solutions\nUnderstanding/implementation of ML algorithms, performance tuning, and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data into a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation, and transformation\nIdentification, development, and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion",
 'About the team\nThe Data Sciences team at Flipkart is on a mission to build systemic intelligence across Flipkart products and the overarching ecosystem. Being India’s largest online marketplace and the most used e-commerce app in India, places Flipkart in a unique position and gives this team a distinctive opportunity — to decipher the richest possible data about Indian consumers. Add the dimension of a vast product selection and a proliferating seller base to that and what you get is a multitude of disruptive possibilities.\nIn a nutshell, the terabytes of daily data compounded in Flipkart’s data centres offer a dynamic mix of numerical, structured, unstructured, image- and audio-based statistics, all set to define shopping in the future.\nAt Flipkart, the work of a Data Scientist involves collaboration with the engineering and product teams to ensure a holistic outcome at the product delivery. The flat functional structure within Flipkart engineering enables data scientists to focus on excellence and create a deep sense of ownership at every stage of work.\nIf you aspire to redefine ‘state-of-the-art’ and create an impact on India’s online shopping landscape, Flipkart’s Data Science team can offer you the right podium to solve challenging real-world problems and take a giant leap in your career as a Data Scientist.\nAbout the role\nA Data Scientist in Flipkart is required to develop and implement ML or statistical models for the various projects formulated from business and product views. The responsible person should be able to communicate and collaborate with multiple stakeholders representing various teams to better understand the problem at hand. At a fundamental level, the responsible person should be able to dive deep into a problem statement and extract interesting insights as well as solutions. In addition to being a quick learner, a DS is expected to get involved in active research projects with a view to publish them.\nWhat you’ll do\nUnderstand Business and product needs and use ML or statistical techniques to provide solutions to those in a time bound fashion.\nCommunicate and collaborate with business and product teams to have a better understanding of the project so as to be able to drive it within the DS team.\nGet involved in in-depth exploration of solutions using various methods and extract statistical insights from data as well as models, which are to be shared with business and product teams.\nActive participation in working with new methods and learning new technologies, both in the area of data science and data engineering.\nWhat you’ll need:\nB.Tech or M.Tech in CS or Statistics with experience ranging from 0 to 5 years through publications/deployed solutions/projects.\nDeep understanding of the algorithms (theory and application) that they have worked on.\nGood grasp on the theory and practise of basic statistical models such as regression or clustering and general ML algorithms such as tree, Random Forests, SVM, Boosting, Neural Networks etc. It is not expected that the candidate has actually worked on all these modules.\nStrong proficiency in Python or R is necessary.\nSkills Required :\nUnderstanding of text representation techniques\nDesirable Skills :\nFamiliarity with Big Data frameworks – Spark, Hadoop',
 '-',
 '-',
 '-',
 '-',
 'About the Role\n  They say no man is an island - a notion that holds particularly true for this role. As a Data Scientist, you ll be an instrumental cog in the Marketplace wheel of Gojek that directly impacts GoFoods revenue and user experience.\n   Your main objective will be to utilize various quantitative techniques such as Machine Learning, Optimization, Simulation, and Bayesian Techniques to drive asymmetric values for our business at Gojek. The folks over at the Data Science Platform team will be your companions during this ride, as they help to bring your models to production. Best yet, you ll have the opportunity to flex and hone in on your skills in ideation, research, and building prototypes!\n  What You Will Do\nDesign and develop various machine learning solutions for improving search relevance\nOwn the Data Science model end-to-end from data collection to model building to monitoring the model in production\nAlong with Product Managers, own the business outcomes/metrics which the data science model/algorithm drives\nIdentify ways to better leverage our content and improve its quality and attributes, to improve the overall search experience\nWhat You Will Need\nAt least 5 years of experience in building machine learning models for product applications\nMust have the ability to understand business concerns and formulate them as technical problems that can be solved using data and math/stats/ML\nFamiliarity with essential data science libraries, including Pandas, Numpy, Scipy, Scikit-Learn\nExperience building scalable ML solutions to NLP problems\nFamiliarity with ML infrastructure needs and best practices\nExperience working with cross-functional teams including product, design, engineering, mobile to deliver product outcomes using data science\n ',
 '  About the Role\n  They say no man is an island - a notion that holds particularly true for this role. As a Data Scientist, you ll be an instrumental cog in the Marketplace wheel of Gojek that directly impacts GoFoods revenue and user experience. Your main objective will be to utilize various quantitative techniques such as Machine Learning, Optimization, Simulation, and Bayesian Techniques to drive asymmetric values for our business at Gojek.\n   The folks over at the Data Science Platform team will be your companions during this ride, as they help to bring your models to production. Best yet, you ll have the opportunity to flex and hone in on your skills in ideation, research, and building prototypes!\n  What You Will Do\nDesign and develop various machine learning solutions for improving search relevance\nOwn the Data Science model end-to-end from data collection to model building to monitoring the model in production\nAlong with Product Managers, own the business outcomes/metrics which the data science model/algorithm drives\nIdentify ways to better leverage our content and improve its quality and attributes, to improve the overall search experience\nWhat You Will Need\nAt least 5 years of experience in building machine learning models for product applications\nMust have the ability to understand business concerns and formulate them as technical problems that can be solved using data and math/stats/ML\nFamiliarity with essential data science libraries, including Pandas, Numpy, Scipy, Scikit-Learn\nExperience building scalable ML solutions to NLP problems\nFamiliarity with ML infrastructure needs and best practices\nExperience working with cross-functional teams including product, design, engineering, mobile to deliver product outcomes using data science',
 'A consistent record of using product data to drive product, sales, and/or marketing teams to achieve ambitious goals and influencing outcomes.\nThe ability to clearly and effectively communicate the results of complex analysis to a broad audience Expertise in at least one programming language for data analysis (e.g.Python, R).\nExpertise in designing and testing experiments.\nExperience working with data technologies that allow effective storage and analysis of large amounts of data (e.g. Hadoop, Hive, Spark, Presto, S3, etc).\n\nAn advanced degree in Computer Science (or allied field) from a top-tier institute (Preferred).\n4+ years of experience of which 2+ in data - pipelining, modeling, and\nlearning\n\nDemonstrated hands-on experience developing and building learning models for data at scale Solid understanding of data pipelining, extraction, and cleanup Strong familiarity with information extraction and applicability of various learning models (supervised and unsupervised) is required The candidate will work directly with the senior leadership team and will have an opportunity to do ground-breaking work in healthcare.\nDesired Skills - Machine learning, Python, sql, keras, NLP and understanding of different model architectures\n\nThis is a very creative role. candidate is expected to have demonstrated competitive skills in ML/AI via winning Kaggle or Chalearn competitions. Candidate is expected to contribute to IP and patents with innovation in automatic model generation and various algorithms like NAS, meta-learning, transfer learning, and model monitoring.\n\nWorking knowledge and hands-on implementation experience of CRISP-DM model\n\nKnowledge of google automl , IBM autoAI, H20, Scikit learn, autokeras\n\nExperience in designing data interfaces\n\nTo work with customers to critical AI deployment problems and solve with innovation To own the complete project plan',
 '-',
 '-',
 'Skillsets:\n\nMinimum 5years of experience.\n\nPrimary Skillsets:\n\n- Hands-on experience with Machine Learning, Python, Hadoop Querying\n\n- Needs to have proven record of performing data mining / building machine learning solutions.\n\n- Knowledge in statistics will be preferred.\n\n- Good understanding in ML algorithms and their usage\n\n- Machine Learning /Deep Learning, SQL, Tableau\n\nNotice period - 30days max',
 'We are looking for outstanding Data Scientist for a $150Million, Series C funded Fintech company Headquartered in Bangalore.\n\nResponsibilities:\n\n- Ensure that data flows smoothly from source to destination so that it can be processed\n\n- Utilize strong database skills to work with large, complex data sets to extract insights\n\n- Filter and cleanse unstructured (or ambiguous) data into usable data sets that can be analyzed to extract insights and improve business processes\n\n- Identify new internal and external data sources to support analytics initiatives and work with appropriate partners to absorb the data into new or existing data infrastructure\n\n- Build tools for automating repetitive asks so that bandwidth can be freed for analytics\n\n- Collaborate with program managers and business analysts to help them come up with actionable, high-impact insights across product lines and functions\n\n- Work closely with top management to prioritize information and analytic needs\n\nRequirements:\n\n- Bachelors or Masters in a quantitative field (such as Engineering, Statistics, Math, Economics, or Computer Science with Modeling/ Data Science), preferably with work experience of over 4 years.\n\n- Ability to program in any high level language is required. Familiarity with R and statistical packages are preferred.\n\n- Proven problem solving and debugging skills.\n\n- Familiar with database technologies and tools (SQL/R/SAS/JMP etc.), data warehousing, transformation and processing. Work experience with real data for customer insights, business and market analysis will be advantageous.\n\n- Experience with text analytics, data mining and social media analytics.\n\n- Statistical knowledge in standard techniques: Logistic Regression, Classification models, Cluster Analysis, Neural Networks, Random Forests, Ensembles, etc.\n\nSkills - PYTHON, R, SQL, DATA SCIENCE, DATA ANALYTICS',
 'Brief about the Role\nThe Platforms team of the Data Science Group at [24]7.ai builds scalable AI to aid in conversational AI, agent assist solutions, and ad personalization for the Cloud. We are looking for a highly motivated and qualified data scientist to build some of our AI initiatives. This role is ideal for candidates with strong, hands-on skills in machine learning and natural language processing.\nEducational Qualifications:\nBachelors, Master’s or PhD degree from reputed universities or institutes in one of the following disciplines:\nArtificial Intelligence / Machine Learning\nData Science\nCognitive Computing\nComputational Linguistics\nComputer Science\nRequirements\n4+ years of experience with general purpose programming languages e.g., Python, C/C++, Java\n4+ years of hands-on experience in machine learning\nExperience in various deep learning models, e.g., transformers, LSTMs, RNNs\nExperience in solving problems related to Natural Language Processing (NLP), Natural Language Understanding (NLU), and Natural Language Generation (NLG)\nExperience with machine learning platforms such as TensorFlow, TensorFlow Extended, PyTorch\nExperience building and deploying machine learning models on the Cloud (Google Cloud, Azure, AWS)\nExperience with production architecture of machine learning systems\nGood to have exposure to conversational AI, AI-based question-answering systems, AI-based compliance and monitoring systems, and ad personalization\nGood to have exposure to MLOps pipelines and Kubeflow\nExcellent communication skills\nAbility to collaborate cross-functionally\nGood presentation skills\nAttention to detail\nResponsibilities\nCollaborate with the Engineering and Product teams to implement machine learning models into the products and offerings of [24]7.ai\nCollaborate with your team members. Be responsible for implementing the machine learning models, testing them, refining them, and taking them to production\nCollaborate within the Data Science Group to review and refine your work to ensure the highest quality\nTake end-to-end ownership of AI initiatives\nProactively discuss ideas for feature enhancements with the data science leadership and product leadership',

In [36]:
import pandas as pd

jobs=pd.DataFrame({})
jobs['title']= job_titles[:10]
jobs['company']= company_names[:10]
jobs['location']= job_locations[:10]
jobs['description']= job_description[:10]

jobs

,title,company,location,description
0,Lead Data Scientist,bd,Bangalore/Bengaluru,Evaluating business requirements and developin...
1,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Job description\n\nJob Role: Data Scientist/Da...
2,Data Scientist,Flipkart Internet Private Limited,Bangalore/Bengaluru,About the team\nThe Data Sciences team at Flip...
3,Data Scientist,Oracle India Pvt. Ltd.,"Noida, Bangalore/Bengaluru",-
4,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bangalore/Bengaluru,-
5,Senior Data Scientist,inVentiv International Pharma Services Pvt. Ltd.,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",-
6,Data Scientist,Applied Materials,Bangalore/Bengaluru,-
7,Data Scientist 2,Gojek Tech,Bangalore/Bengaluru,About the Role\n They say no man is an island...
8,Data Scientist 2,GO-JEK India,Bangalore/Bengaluru,About the Role\n They say no man is an isla...
9,Hiring Data Scientist,IHX private limited,Bangalore/Bengaluru(5th block Koramangala),A consistent record of using product data to d...

Q3: In this question you have to scrape data using the filters:

You have to use the location and salary filter.                                                                                 
You have to scrape data for “Data Scientist” designation for first 10 job results.                                              
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”                                                                                   
The salary filter to be used is “3-6” lakhs

In [37]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")

In [38]:
#giving url to webdriver
url='https://www.naukri.com/'
driver.get(url)

In [39]:
#searching xpath on webpage
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job

In [40]:
#giving input in search bar
search_job.send_keys("data scientist")

In [41]:
#searching data and pressing button
search_button=driver.find_element_by_xpath('//button[@class="btn"]')
search_button.click()

In [42]:
#using filter for location
location_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]')
location_filter.click()

In [45]:
#set salary range using filter
salary_filter=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]")
salary_filter.click()

In [46]:
#find jobs
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles=[]
for i in job_title:
    job_titles.append(i.text)

['Data Scientist/Data Analyst /Business Analyst',
 'Senior Data Scientist',
 'Team Leader Operations/Data Scientist',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist (Early Joiner)',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist',
 'Data Scientist || Python || C2H',
 'Data Scientist || Python || C2H',
 'Advanced Analytics -Data Scientist',
 'Data Scientist',
 'Data Scientist -Delhi',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Associate Data Scientist',
 'DATA SCIENTIST']

In [47]:
#find company name
com_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_names=[]
for i in com_name:
    company_names.append(i.text)

In [48]:
#find job location
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
job_locations=[]
for i in job_location:
    job_locations.append(i.text)

In [49]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_req=[]
for i in experience:
    experience_req.append(i.text)

In [50]:
jobs=pd.DataFrame({})
jobs['title']= job_titles[:10]
jobs['company']= company_names[:10]
jobs['location']= job_locations[:10]
jobs['experience']= experience_req[:10]

jobs

,title,company,location,experience
0,Data Scientist/Data Analyst /Business Analyst,Inflexion Analytix Private Limited,"Pune, Delhi / NCR, Mumbai (All Areas)",0-3 Yrs
1,Senior Data Scientist,inVentiv International Pharma Services Pvt. Ltd.,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",3-6 Yrs
2,Team Leader Operations/Data Scientist,Optimint Solutions Pvt. Ltd.,"Gurgaon/Gurugram, Delhi / NCR",2-5 Yrs
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Noida, Greater Noida, Delhi / NCR",0-0 Yrs
4,Data Scientist (Early Joiner),R Systems International Ltd.,Noida(Sector-59 Noida),4-8 Yrs
5,Data Scientist - Machine Learning/ NLP,TalPro,Gurgaon/Gurugram,2-6 Yrs
6,Data Scientist,recruitment advisory line,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",3-6 Yrs
7,Data Scientist || Python || C2H,Growel Softech Pvt. Ltd.,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",4-6 Yrs
8,Data Scientist || Python || C2H,Growel Softech Pvt. Ltd.,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",4-6 Yrs
9,Advanced Analytics -Data Scientist,ERM Placement Services (P) Ltd.,"New Delhi, Hyderabad/Secunderabad",3-7 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [72]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")

In [73]:
#giving url to webdriver
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [74]:
#searching xpath on webpage
search_job=driver.find_element_by_xpath('//input[@class="keyword"]')

In [75]:
#giving input in search bar
search_job.send_keys("data scientist")

In [76]:
#searching location using id on webpage
search_loc=driver.find_element_by_id("LocationSearch")

In [77]:
#giving input in search bar
search_loc.send_keys("noida")

In [78]:
#searching data and pressing button
search_button=driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]')
search_button.click()

In [80]:
#find job titles
job_title=driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']")
job_titles=[]
for i in job_title:
    job_titles.append(i.text)
job_titles

['HR Data Analyst - New Delhi, IN',
 'Data Engineer - Python with Azure ADF',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Assistant Manager - Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Analyst - Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'data scientist']

In [81]:
#find company name
com_name=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
company_names=[]
for i in com_name:
    company_names.append(i.text)

In [82]:
#find the days before job was posted
no_of_days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
job_posted_before=[]
for i in no_of_days:
    job_posted_before.append(i.text)
job_posted_before

['2d',
 '13d',
 '6d',
 '26d',
 '11d',
 '4d',
 '23d',
 '19d',
 '8d',
 '3d',
 '10d',
 '26d',
 '10d',
 '17d',
 '5d',
 '21d',
 '25d',
 '16d',
 '16d',
 '10d',
 '24d',
 '10d',
 '5d',
 '1d',
 '4d',
 '4d',
 '24d',
 '26d',
 '6d',
 '10d',
 '19d',
 '6d']

In [84]:
#find the rating of the company
company_rating=[]
rating=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

for i in rating:
    try:
        company_rating.append(i.text)
    except:
        company_rating.append('-')
company_rating

['4.0',
 '4.0',
 '4.1',
 '4.0',
 '3.8',
 '3.5',
 '4.1',
 '3.9',
 '4.2',
 '3.7',
 '3.1',
 '3.0',
 '5.0',
 '3.8',
 '3.8',
 '4.3',
 '3.8',
 '4.7',
 '4.0',
 '3.8',
 '4.3',
 '4.1',
 '4.1',
 '4.0',
 '4.0',
 '3.9']

In [85]:
import pandas as pd

jobs=pd.DataFrame({})
jobs['title']= job_titles[:10]
jobs['company']= company_names[:10]
jobs['days before posting']= job_posted_before[:10]
jobs['ratings']= company_rating[:10]

jobs

,title,company,days before posting,ratings
0,"HR Data Analyst - New Delhi, IN",Bechtel,2d,4.0
1,Data Engineer - Python with Azure ADF,Bechtel,13d,4.0
2,Data Scientist,Ericsson,6d,4.1
3,Data Scientist,MobiKwik,26d,4.0
4,Data Scientist,Crowe,11d,3.8
5,Data Scientist,Lantern Digital Services,4d,3.5
6,Data Scientist,Siemens Technology and Services Private Limited,23d,4.1
7,Data Scientist,Biz2Credit Inc,19d,3.9
8,Data Scientist,Novo,8d,4.2
9,Data Scientist,Ally wiredsoft solutions (P) ltd,3d,3.7

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [48]:
# Activating the chrome browser
driver = webdriver.Chrome("chromedriver.exe") 
time.sleep(1)

# Opening the homepage of glassdoor
url = " https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [49]:
#job search bar
search_job=driver.find_element_by_xpath("//input[@class='keyword']")  
search_job.send_keys("Data Scientist")

In [50]:
#location search bar
location=driver.find_element_by_xpath("//input[@class='loc']")  
location.send_keys("Noida")

In [51]:
search_button = driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_button.click()

In [53]:
#find company name
com_name=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
company_names=[]
for i in com_name:
    company_names.append(i.text)

In [54]:
#find the minimum salary
min_salaries=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']//p[1]")

min_salary=[]
for i in min_salaries:
    min_salary.append(i.text)

In [55]:
#find the maximum salary
max_salaries=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']//p[2]")

max_salary=[]
for i in max_salaries:
    max_salary.append(i.text)

In [56]:
#find the average salary
avg_salaries=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")

avg_salary=[]
for i in avg_salaries:
    avg_salary.append(i.text.replace('\n','').replace('/yr',''))

In [57]:
salaries=pd.DataFrame({})
salaries['company names']= company_names[:10]
salaries['minimum salary']= min_salary[:10]
salaries['maximum salary']= max_salary[:10]
salaries['average salary']= avg_salary[:10]

salaries

               company names minimum salary maximum salary average salary
0  Tata Consultancy Services            ₹4L           ₹13L     ₹6,28,490
1                        IBM            ₹6L           ₹26L     ₹9,12,579
2                  Accenture            ₹6L           ₹23L    ₹12,00,000
3         Ericsson-Worldwide            ₹4L           ₹18L     ₹8,05,346
4         UnitedHealth Group            ₹8L           ₹16L    ₹12,33,084
5                  Delhivery            ₹5L           ₹1Cr    ₹12,44,381
6                EXL Service            ₹6L           ₹20L    ₹12,37,215
7                      Optum            ₹8L           ₹20L    ₹12,70,000
8              ZS Associates            ₹2L           ₹22L    ₹11,66,865
9     Optum Global Solutions           ₹10L           ₹17L    ₹14,49,216

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [148]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")

In [149]:
#giving url to webdriver
url='https://www.flipkart.com/'
driver.get(url)

In [150]:
#searching xpath on webpage
search_bar=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_bar

In [151]:
#giving input in search bar
search_bar.send_keys("sunglasses")

In [153]:
#searching data and pressing button
search_button=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()

In [154]:
#fetching brands of sunglasses
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_names=[]
for i in brand:
    brand_names.append(i.text)

In [155]:
#fetching product description of sunglasses
product_desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_description=[]
for i in product_desc:
    product_description.append(i.text)

In [156]:
#fetching price of sunglasses
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_of_sunglass=[]
for i in price:
    price_of_sunglass.append(i.text)

In [157]:
#fetching discount% of sunglasses
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_percentage=[]
for i in discount:
    discount_percentage.append(i.text)

In [158]:
#searching and clicking next button
next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
next_button.click()

In [159]:
#fetching brands of sunglasses
brand1=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_names1=[]
for i in brand1:
    brand_names1.append(i.text)

In [160]:
#fetching product description of sunglasses
product_desc1=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_description1=[]
for i in product_desc1:
    product_description1.append(i.text)

In [161]:
#fetching price of sunglasses
price1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_of_sunglass1=[]
for i in price1:
    price_of_sunglass1.append(i.text)

In [162]:
#fetching discount% of sunglasses
discount1=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_percentage1=[]
for i in discount1:
    discount_percentage1.append(i.text)

In [163]:
#searching and clicking next button
next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
next_button.click()

In [164]:
#fetching brands of sunglasses
brand2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_names2=[]
for i in brand2:
    brand_names2.append(i.text)

In [165]:
#fetching product description of sunglasses
product_desc2=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_description2=[]
for i in product_desc2:
    product_description2.append(i.text)

In [166]:
#fetching price of sunglasses
price2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_of_sunglass2=[]
for i in price2:
    price_of_sunglass2.append(i.text)

In [167]:
#fetching discount% of sunglasses
discount2=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_percentage2=[]
for i in discount2:
    discount_percentage2.append(i.text)

In [168]:
brands_list=brand_names+brand_names1+brand_names2

In [169]:
product_descriptions=product_description+product_description1+product_description2

In [170]:
prices=price_of_sunglass+price_of_sunglass1+price_of_sunglass2

In [171]:
discounts=discount_percentage+discount_percentage1+discount_percentage2

In [172]:
import pandas as pd

sunglasses=pd.DataFrame({})
sunglasses['brand']= brands_list[:100]
sunglasses['description']= product_descriptions[:100]
sunglasses['price']= prices[:100]
sunglasses['discount']= discounts[:100]

sunglasses

,brand,description,price,discount
0,LIZA ANGEL,UV Protection Shield Sunglasses (54),₹279,65% off
1,ROZZETTA CRAFT,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹499,80% off
2,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹299,88% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹513,35% off
4,Fastrack,UV Protection Aviator Sunglasses (54),₹758,15% off
...,...,...,...,...
95,AISLIN,UV Protection Retro Square Sunglasses (Free Size),₹498,67% off
96,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹655,27% off
97,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (88),₹499,77% off
98,Silver Kartz,UV Protection Aviator Sunglasses (58),₹259,82% off
99,Silver Kartz,UV Protection Aviator Sunglasses (Free Size),₹269,77% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace. you have to scrape the below mention attributes. These are
Rating

Review_summary

Full review You have to scrape this data for first 100 reviews

In [3]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

# Opening the website link
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

In [5]:
#empty list
urls=[]
review=[]
full_review=[]
stars=[]
time.sleep(2)

#scraping 10 pages of url
url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(2)


for i in urls:
    driver.get(i)
    #scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    #scrapping the short review
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        full_review.append(l.text)

In [6]:
#making dataframe
iphone = pd.DataFrame({})
iphone['review']= review
iphone['full_review']= full_review
iphone['stars']= stars

iphone

,review,full_review,stars
0,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...,5
1,Simply awesome,Really satisfied with the Product I received.....,5
2,Perfect product!,Amazing phone with great cameras and better ba...,5
3,Worth every penny,Previously I was using one plus 3t it was a gr...,5
4,Best in the market!,Great iPhone very snappy experience as apple k...,5
...,...,...,...
95,Super!,This is my first ever iPhone.\nAnd I truly don...,5
96,Just wow!,The ultimate performance\nCamera is superb\nTh...,5
97,Terrific purchase,I use a Note10+ and have been using both iOS a...,5
98,Awesome,The phone is completely good\nAs far as camera...,5
99,Decent product,Everything u ll like it when u use this iPhone...,3

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [5]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")

In [6]:
#giving url to webdriver
url='https://www.flipkart.com/'
driver.get(url)

In [7]:
#searching xpath on webpage
search_bar=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_bar

In [8]:
#giving input in search bar
search_bar.send_keys("sneakers")

In [9]:
#searching data and pressing button
search_button=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()

In [10]:
#fetching brands of sneakers
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_names=[]
for i in brand:
    brand_names.append(i.text)

In [205]:
#fetching product description of sunglasses
product_desc=driver.find_elements_by_xpath("//a[@class='']")
product_description=[]
for i in product_desc:
    product_description.append(i.text)

In [11]:
#fetching product description of sneakers
product_desc=driver.find_elements_by_xpath("//div[@class='_2B099V']//a")
product_description=[]
for i in product_desc:
    product_description.append(i.text)

In [13]:
new_list=[]
for i in range(0,len(product_description),2):
    new_list.append(product_description[i])

In [12]:
#fetching price of sneakers
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_of_sneakers=[]
for i in price:
    price_of_sneakers.append(i.text)

In [15]:
#fetching discount% of sneakers
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_percentage=[]
for i in discount:
    discount_percentage.append(i.text)

In [16]:
#searching and clicking next button
next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
next_button.click()

In [17]:
#fetching brands of sneakers
brand1=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_names1=[]
for i in brand1:
    brand_names1.append(i.text)

In [18]:
#fetching product description of sneakers
product_desc1=driver.find_elements_by_xpath("//div[@class='_2B099V']//a")
product_description1=[]
for i in product_desc1:
    product_description1.append(i.text)

In [19]:
new_list1=[]
for i in range(0,len(product_description1),2):
    new_list1.append(product_description1[i])

In [20]:
#fetching price of sneakers
price1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_of_sneakers1=[]
for i in price1:
    price_of_sneakers1.append(i.text)

In [21]:
#fetching discount% of sneakers
discount1=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_percentage1=[]
for i in discount1:
    discount_percentage1.append(i.text)

In [24]:
#searching and clicking next button
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
next_button.click()

In [25]:
#fetching brands of sneakers
brand2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_names2=[]
for i in brand2:
    brand_names2.append(i.text)

In [26]:
#fetching product description of sneakers
product_desc2=driver.find_elements_by_xpath("//div[@class='_2B099V']//a")
product_description2=[]
for i in product_desc2:
    product_description2.append(i.text)

In [31]:
new_list2=[]
for i in range(0,len(product_description2),2):
    new_list2.append(product_description2[i])

In [28]:
#fetching price of sneakers
price2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_of_sneakers2=[]
for i in price2:
    price_of_sneakers2.append(i.text)

In [29]:
#fetching discount% of sneakers
discount2=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_percentage2=[]
for i in discount2:
    discount_percentage2.append(i.text)

In [30]:
brands_list=brand_names+brand_names1+brand_names2

In [32]:
product_descriptions=new_list+new_list1+new_list2

In [33]:
prices=price_of_sneakers+price_of_sneakers1+price_of_sneakers2

In [34]:
discounts=discount_percentage+discount_percentage1+discount_percentage2

In [35]:
sneakers=pd.DataFrame({})
sneakers['brand']= brands_list[:100]
sneakers['description']= product_descriptions[:100]
sneakers['price']= prices[:100]
sneakers['discount']= discounts[:100]

sneakers

,brand,description,price,discount
0,Echor,Fashion Sneakers Sneakers For Men,₹569,43% off
1,Chevit,2 Pairs Sneakers For Men,₹494,75% off
2,Robbie jones,Men's Casual Shoes in White Color Walking Runn...,₹399,60% off
3,CALCADOS,Fashion Outdoor Canvas Casual Light Weight Par...,₹748,62% off
4,PEHANOSA,Sneakers For Men,₹495,50% off
...,...,...,...,...
95,PUMA,Sneakers For Men,"₹1,229",56% off
96,bluemaker,casual shoe for men Sneakers For Men,₹449,55% off
97,kardam&sons,Karda Casual Sneakers and Gym Shoes for Men's ...,₹430,74% off
98,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹384,61% off
99,Edoeviv,Luxury Branded Fashionable Men's Casual Walkin...,₹499,37% off

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [36]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")

In [37]:
#giving url to webdriver
url='https://www.myntra.com/shoes'
driver.get(url)

In [38]:
#searching filter and pressing button
filter_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
filter_button.click()

In [39]:
#searching filter and pressing button
filter_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
filter_button.click()

In [40]:
#fetching brands of shoes
brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")
brand_names=[]
for i in brand:
    brand_names.append(i.text)

In [41]:
#fetching product description of shoes
product_desc=driver.find_elements_by_xpath("//h4[@class='product-product']")
product_description=[]
for i in product_desc:
    product_description.append(i.text)

In [42]:
#fetching price of shoes
price=driver.find_elements_by_xpath("//div[@class='product-price']")
price_of_shoes=[]
for i in price:
    price_of_shoes.append(i.text)

In [43]:
#searching and clicking next button
next_button=driver.find_element_by_xpath('//li[@class="pagination-next"]')
next_button.click()

In [44]:
#fetching brands of shoes
brand1=driver.find_elements_by_xpath("//h3[@class='product-brand']")
brand_names1=[]
for i in brand1:
    brand_names1.append(i.text)

In [45]:
#fetching product description of shoes
product_desc1=driver.find_elements_by_xpath("//h4[@class='product-product']")
product_description1=[]
for i in product_desc1:
    product_description1.append(i.text)

In [46]:
#fetching price of shoes
price1=driver.find_elements_by_xpath("//div[@class='product-price']")
price_of_shoes1=[]
for i in price1:
    price_of_shoes1.append(i.text)

In [47]:
brands_list=brand_names+brand_names1

In [48]:
product_descriptions=product_description+product_description1

In [49]:
prices=price_of_shoes+price_of_shoes1

In [50]:
shoes=pd.DataFrame({})
shoes['brand']= brands_list[:100]
shoes['description']= product_descriptions[:100]
shoes['price']= prices[:100]

shoes

        brand                    description                        price
0        Nike  LEBRON XVIII Basketball Shoes  Rs. 12316Rs. 17595(30% OFF)
1        ALDO              Men Driving Shoes                    Rs. 11999
2        Nike     Men AIR ZOOM Running Shoes   Rs. 7721Rs. 10295(25% OFF)
3        ALDO                   Men Sneakers                     Rs. 9999
4        ALDO                   Men Sneakers                     Rs. 9999
..        ...                            ...                          ...
95      KLEAT       Men Woven Design Loafers                     Rs. 7999
96  J.FONTINI              Men Solid Loafers                     Rs. 7990
97    Lacoste     Men Colourblocked Sneakers                     Rs. 8650
98    Lacoste      Men Woven Design Sneakers                     Rs. 8500
99    Bugatti   Men Perforated Mule Sneakers                     Rs. 6999

[100 rows x 3 columns]

Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”.After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [51]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")

In [52]:
#giving url to webdriver
url='https://www.amazon.in/'
driver.get(url)

In [53]:
#searching xpath on webpage
search_bar=driver.find_element_by_xpath('//input[@class="nav-input nav-progressive-attribute"]')
search_bar

In [54]:
#giving input in search bar
search_bar.send_keys("laptops")

In [55]:
#searching data and pressing button
search_button=driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]')
search_button.click()

In [56]:
filter_button=driver.find_elements_by_xpath('//a[@class="a-link-normal s-navigation-item"]//span')
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [57]:
filter_button=driver.find_elements_by_xpath('//a[@class="a-link-normal s-navigation-item"]//span')
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [58]:
title=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
product_title=[]
for i in title:
    product_title.append(i.text)

In [59]:
url =driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

In [60]:
product_url=[]
for i in url:
    product_url.append(i.get_attribute('href'))
product_url

['https://www.amazon.in/HP-Pavilion-Graphics-35-56cms-14-dv0058TU/dp/B08WB857GB/ref=sr_1_1?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-1',
 'https://www.amazon.in/Notebook-Horizon-i7-10510U-Graphics-XMA1904-AF/dp/B089F2W1KW/ref=sr_1_2?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-2',
 'https://www.amazon.in/HP-Pavilion-Touchscreen-Convertible-14-dw1040TU/dp/B08R843NHL/ref=sr_1_3?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/Dell-i7-1165G7-Inspiron-5410-D560469WIN9S/dp/B095S9NJ4S/ref=sr_1_4?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/Lenovo-Legion-Gaming-GeForce-81SY00U7IN/dp/B092MRQCJ6/ref=sr_1_5?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/Lenovo-Ideapad-Graphics-Graphite-82FG0117IN/dp/B092MV9ZF6/ref=sr_1_6?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/MSI-i7-10750H-IPS-Level-Windows-10SDR-1280IN/dp/B093L8JCZV/ref=sr_1_7?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN/dp/B08WRZQBQ6/ref=sr_1_8?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM702TS/dp/B08SN9GJXH/ref=sr_1_9?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/ASUS-Zephyrus-i7-10750H-RTX-2080-GX701LXS-HG002TS/dp/B08PFD2Z9M/ref=sr_1_10?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/ASUS-Zephyrus-i7-10750H-RTX-2070-Super-GX701LWS-HG002TS/dp/B08PFDCZD3/ref=sr_1_11?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/Dell-15-6-inch-i7-10750H-NVIDIA1650-D560260WIN9BE/dp/B08H9PTSYR/ref=sr_1_12?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-12',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A02653902UKZ2EJPLDFRL&url=%2FNotebook-Horizon-i5-10210U-Graphics-XMA1904-AR%2Fdp%2FB089F5JGM1%2Fref%3Dsr_1_13_sspa%3Fdchild%3D1%26keywords%3Dlaptops%26qid%3D1626078362%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-13-spons%26psc%3D1&qualifier=1626078362&id=8139795199058089&widgetName=sp_mtf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A014119429EI5XB7GMHC7&url=%2FMSI-GS66-Stealth-i7-10875H-10SFS-488IN%2Fdp%2FB08KG3CHVR%2Fref%3Dsr_1_14_sspa%3Fdchild%3D1%26keywords%3Dlaptops%26qid%3D1626078362%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-14-spons%26psc%3D1&qualifier=1626078362&id=8139795199058089&widgetName=sp_mtf',
 'https://www.amazon.in/Lenovo-ThinkPad-Graphics-Aluminium-20TDS0G200/dp/B095SPWBKF/ref=sr_1_15?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-15',
 'https://www.amazon.in/MSI-i7-10750H-IPS-Level-Windows-10SCXR-654IN/dp/B093L8QGL7/ref=sr_1_16?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-16',
 'https://www.amazon.in/ASUS-ZenBook-i7-1165G7-Graphics-UX425EA-BM701TS/dp/B08M4SWRR5/ref=sr_1_17?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-17',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Aluminium-82BH004HIN/dp/B08P3M22QQ/ref=sr_1_18?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-18',
 'https://www.amazon.in/Dell-Inspiron-i7-1165G7-Integrated-D560414WIN9S/dp/B0919LL313/ref=sr_1_19?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-19',
 'https://www.amazon.in/ASUS-TUF-F15-i7-11370H-FX516PE-HN088TS/dp/B094RDLV5P/ref=sr_1_20?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-20',
 'https://www.amazon.in/HP-Pavilion-Gaming-Laptop-15-DK1511TX/dp/B0972H63VL/ref=sr_1_21?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-21',
 'https://www.amazon.in/Renewed-Lenovo-Windows-Graphics-81YU006HIN/dp/B098QBPB4Q/ref=sr_1_22?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-22',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B09752NVNF/ref=sr_1_23?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-23',
 'https://www.amazon.in/HP-Pavilion-13-3-inch-Ceramic-13-bb0078TU/dp/B09839P9XB/ref=sr_1_24?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-24',
 'https://www.amazon.in/Lenovo-Carbon-Ultra-Light-Material-82EV003WIN/dp/B08ZCLMFHD/ref=sr_1_25?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-25',
 'https://www.amazon.in/ASUS-i7-10750H-Graphics-Windows-G512LU-HN263TS/dp/B08CR6C9LJ/ref=sr_1_26?dchild=1&keywords=laptops&qid=1626078362&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-26']

In [61]:
product_rating=[]
for i in product_url:
    driver.get(i)
    try:
        rating = driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']")
        product_rating.append(rating.text)
    except:
        product_rating.append('-')
product_rating[:10]

['4.4 out of 5',
 '4.4 out of 5',
 '4 out of 5',
 '4.6 out of 5',
 '4.3 out of 5',
 '4.3 out of 5',
 '3.8 out of 5',
 '4 out of 5',
 '4.4 out of 5',
 '3.6 out of 5']

In [62]:
price=driver.find_elements_by_xpath("//span[@class='a-price']")
product_price=[]
for i in price:
    product_price.append(i.text)

In [63]:
laptops=pd.DataFrame({})
laptops['title']= product_title[:10]
laptops['rating']= product_rating[:10]
laptops['price']= product_price[:10]

laptops

,title,rating,price
0,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.4 out of 5,"₹99,990.00"
1,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.4 out of 5,"₹1,16,730.00"
2,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...",4 out of 5,"₹1,04,990.00"
3,Dell 14 (2021) i7-1165G7 2in1 Touch Screen Lap...,4.6 out of 5,"₹76,904.00"
4,Lenovo Legion Y540 Intel Core i7 9th Gen 15.6”...,4.3 out of 5,"₹1,42,900.00"
5,"Lenovo Ideapad 5 Intel i7 11th Gen 15.6"" Thin ...",4.3 out of 5,"₹1,07,490.00"
6,"MSI GF65 Thin, Intel i7-10750H, 15.6"" FHD (39....",3.8 out of 5,₹100.00
7,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,4 out of 5,"₹87,301.00"
8,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,4.4 out of 5,"₹84,990.00"
9,"ASUS ROG Zephyrus S17 (2020), 17.3"" FHD 300Hz/...",3.6 out of 5,"₹73,990.00"